:host, :root {
    --aqua-accent-1: #6aa0bd;
    --aqua-accent-2: #6cabcd;
    --aqua-accent-3: #82b3ce;
    --aqua-accent-4: #65b8f9;

    --in-content-primary-button-background: var(--aqua-accent-1) !important;
    --in-content-primary-button-background-hover: var(--aqua-accent-2) !important;
    --in-content-primary-button-background-active: var(--aqua-accent-3) !important;
    --newtab-textbox-background-color: #373737 !important;
    --newtab-topsites-background-color:  #373737 !important;
}

.logo-and-wordmark {
    display: none !important;
}

/* Set text highlight colour */
::-moz-selection {
    color: #c0c0c0 !important;
    background: #606060 !important;
}

/* Set scrollbar colours to dark */
:root{ scrollbar-color: #474749 #323234 }