--accent-1: var(--grey-50);
--accent-2: var(--grey-50);
--accent-3: var(--grey-60);

/* Address bar text highlight */
--in-content-selected-text-background: var(--accent-1);

/* Secure connection text colour */
--secure-connection-color: var(--green-60);

/* Menu background colour (e.g. context menu, bookmark bar folders, address bar suggestions) */
--in-content-box-background: var(--grey-80) !important;

/* Menu separator colour */
--in-content-table-border-dark-color: var(--grey-60) !important;

/* URL page action panel arrow colour */
--arrowpanel-background: var(--grey-70) !important;

/* Unselected tab background */
--tab-background-color: var(--grey-80) !important;