/* ====== TABS ====== */
/* Change font and background colour of inactive tabs */
.tab-background:not([selected]) {
    background-color: var(--grey-80);
}
#TabsToolbar .tabbrowser-tab:not([selected]) {
    color: var(--grey-40) !important;
}

/* Make loading burst animation grey */
.tab-loading-burst[bursting]::before {
    fill: var(--accent-1) !important
}

/* Make tabs container and title bar buttons grey instead of black */
#TabsToolbar, .titlebar-button {
    background-color: var(--grey-80) !important;
}

/* Fix title bar buttons hover colour */
.titlebar-button:hover {
    background-color: var(--grey-60) !important;
}

/* Make current tab line purple in private mode */
#main-window[privatebrowsingmode="temporary"] .tab-line[selected="true"] {
  background-color: var(--purple-60) !important;
}


/* ====== NAV BAR ====== */
/* Set nav bar button hover colours */
.toolbarbutton-1 {
    --toolbarbutton-hover-background: var(--grey-60) !important;
    --toolbarbutton-active-background: var(--grey-60) !important;
}

/* Fix back button (for some reason it's different from the forwards button) */
#back-button:not([disabled="false"]) > .toolbarbutton-icon {
    background-color: transparent !important;
    border: unset !important;
}
#back-button:not([disabled="true"]):not([open="true"]):not(:active):hover > .toolbarbutton-icon {
    background-color: var(--grey-60) !important;
}

/* Remove shadow around address bar when in focus */
#urlbar[focused=true] {
    box-shadow: unset !important;
}

/* Set selected autocomplete highlight colour */
#PopupAutoCompleteRichResult richlistitem[selected="true"] {
    background-color: var(--grey-60) !important;
}


/* ====== BOOKMARKS BAR ====== */
/* Set bookmark hover and folder open background colour */
toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]), toolbarbutton.bookmark-item[open="true"] {
    background-color: var(--grey-60) !important;
}

/* Hide separator and open all in tabs option in bookmarks folder */
menuseparator.bookmarks-actions-menuseparator, menuitem.openintabs-menuitem {
    display: none !important;
}

/* Make submenu arrow (>) light */
.menu-right{
    filter: unset !important;
}


/* ====== MENUS ====== */
/* Tab context menu */
#context_sendTabToDevice {
    display: none !important;
}

/* URL page action menu */
#pageAction-panel-bookmark, #pageAction-panel-pocket, #pageAction-panel-bookmarkSeparator, #pageAction-panel-copyURL, #pageAction-panel-emailLink, #pageAction-panel-sendToDevice, #pageAction-panel-shareURL, #pageAction-panel-webcompat-reporter_mozilla_org  {
    display: none !important;
}

/* Make panel arrow match panel (why is there a filter on this?) */
.panel-arrow {
    filter: unset !important;
}

/* Normal context menu */
#context-pocket, #context-sendpagetodevice, #context-sep-sendpagetodevice, #screenshots_mozilla_org-menuitem-_create-screenshot {
    display: none !important;
}

/* Link context menu */
#context-bookmarklink, #context-savelinktopocket, #context-sendlinktodevice, #inspect-separator {
    display: none !important;
}

/* Image context menu */
#context-sendimage, #context-setDesktopBackground {
    display: none !important;
}

/* Media context menu (audio/video) */
#context-sendaudio {
    display: none !important;
}

/* Enable userChrome.js support (for Linux scrollbar fix) */
#alltabs-button {
    -moz-binding: url(data:text/xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjwhLS0gQ29weXJpZ2h0IChjKSAyMDE3IEhhZ2dhaSBOdWNoaQpBdmFpbGFibGUgZm9yIHVzZSB1bmRlciB0aGUgTUlUIExpY2Vuc2U6Cmh0dHBzOi8vb3BlbnNvdXJjZS5vcmcvbGljZW5zZXMvTUlUCiAtLT4KCjwhLS0gUnVuIHVzZXJDaHJvbWUuanMvdXNlckNocm9tZS54dWwgYW5kIC51Yy5qcy8udWMueHVsLy5jc3MgZmlsZXMgIC0tPgo8YmluZGluZ3MgeG1sbnM9Imh0dHA6Ly93d3cubW96aWxsYS5vcmcveGJsIj4KICAgIDxiaW5kaW5nIGlkPSJqcyIgZXh0ZW5kcz0iY2hyb21lOi8vZ2xvYmFsL2NvbnRlbnQvYmluZGluZ3MvdG9vbGJhcmJ1dHRvbi54bWwjbWVudSI+CiAgICAgICAgPGltcGxlbWVudGF0aW9uPgogICAgICAgICAgICA8Y29uc3RydWN0b3I+PCFbQ0RBVEFbCiAgICAgICAgICAgICAgICBpZih3aW5kb3cudXNlckNocm9tZUpzTW9kKSByZXR1cm47CiAgICAgICAgICAgICAgICB3aW5kb3cudXNlckNocm9tZUpzTW9kID0gdHJ1ZTsKICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgdmFyIGNocm9tZUZpbGVzID0gRmlsZVV0aWxzLmdldERpcigiVUNocm0iLCBbInVzZXJqc19maWxlcyJdKS5kaXJlY3RvcnlFbnRyaWVzOwogICAgICAgICAgICAgICAgdmFyIHh1bEZpbGVzID0gW107CiAgICAgICAgICAgICAgICB2YXIgc3NzID0gQ2NbJ0Btb3ppbGxhLm9yZy9jb250ZW50L3N0eWxlLXNoZWV0LXNlcnZpY2U7MSddLmdldFNlcnZpY2UoQ2kubnNJU3R5bGVTaGVldFNlcnZpY2UpOwogICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICB3aGlsZShjaHJvbWVGaWxlcy5oYXNNb3JlRWxlbWVudHMoKSkgewogICAgICAgICAgICAgICAgICAgIHZhciBmaWxlID0gY2hyb21lRmlsZXMuZ2V0TmV4dCgpLlF1ZXJ5SW50ZXJmYWNlKENpLm5zSUZpbGUpOwogICAgICAgICAgICAgICAgICAgIHZhciBmaWxlVVJJID0gU2VydmljZXMuaW8ubmV3RmlsZVVSSShmaWxlKTsKICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICBpZihmaWxlLmlzRmlsZSgpKSB7CiAgICAgICAgICAgICAgICAgICAgICAgIGlmKC8oXnVzZXJDaHJvbWV8XC51YylcLmpzJC9pLnRlc3QoZmlsZS5sZWFmTmFtZSkpIHsKICAgICAgICAgICAgICAgICAgICAgICAgICAgIFNlcnZpY2VzLnNjcmlwdGxvYWRlci5sb2FkU3ViU2NyaXB0V2l0aE9wdGlvbnMoZmlsZVVSSS5zcGVjLCB7dGFyZ2V0OiB3aW5kb3csIGlnbm9yZUNhY2hlOiB0cnVlfSk7CiAgICAgICAgICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgICAgICAgICAgICAgZWxzZSBpZigvKF51c2VyQ2hyb21lfFwudWMpXC54dWwkL2kudGVzdChmaWxlLmxlYWZOYW1lKSkgewogICAgICAgICAgICAgICAgICAgICAgICAgICAgeHVsRmlsZXMucHVzaChmaWxlVVJJLnNwZWMpOwogICAgICAgICAgICAgICAgICAgICAgICB9CiAgICAgICAgICAgICAgICAgICAgICAgIGVsc2UgaWYoL1wuYXNcLmNzcyQvaS50ZXN0KGZpbGUubGVhZk5hbWUpKSB7CiAgICAgICAgICAgICAgICAgICAgICAgICAgICBpZighc3NzLnNoZWV0UmVnaXN0ZXJlZChmaWxlVVJJLCBzc3MuQUdFTlRfU0hFRVQpKQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHNzcy5sb2FkQW5kUmVnaXN0ZXJTaGVldChmaWxlVVJJLCBzc3MuQUdFTlRfU0hFRVQpOwogICAgICAgICAgICAgICAgICAgICAgICB9CiAgICAgICAgICAgICAgICAgICAgICAgIGVsc2UgaWYoL14oPyEodXNlckNocm9tZXx1c2VyQ29udGVudClcLmNzcyQpLitcLmNzcyQvaS50ZXN0KGZpbGUubGVhZk5hbWUpKSB7CiAgICAgICAgICAgICAgICAgICAgICAgICAgICBpZighc3NzLnNoZWV0UmVnaXN0ZXJlZChmaWxlVVJJLCBzc3MuVVNFUl9TSEVFVCkpCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgc3NzLmxvYWRBbmRSZWdpc3RlclNoZWV0KGZpbGVVUkksIHNzcy5VU0VSX1NIRUVUKTsKICAgICAgICAgICAgICAgICAgICAgICAgfQogICAgICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgc2V0VGltZW91dChmdW5jdGlvbiBsb2FkWFVMKCkgewogICAgICAgICAgICAgICAgICAgIGlmKHh1bEZpbGVzLmxlbmd0aCA+IDApIHsKICAgICAgICAgICAgICAgICAgICAgICAgZG9jdW1lbnQubG9hZE92ZXJsYXkoeHVsRmlsZXMuc2hpZnQoKSwgbnVsbCk7CiAgICAgICAgICAgICAgICAgICAgICAgIHNldFRpbWVvdXQobG9hZFhVTCwgNSk7CiAgICAgICAgICAgICAgICAgICAgfQogICAgICAgICAgICAgICAgfSwgMCk7CiAgICAgICAgICAgIF1dPjwvY29uc3RydWN0b3I+CiAgICAgICAgPC9pbXBsZW1lbnRhdGlvbj4KICAgIDwvYmluZGluZz4KPC9iaW5kaW5ncz4K);
}